<div class="alert bg-primary" role="alert">
  <h3 class="text-light">
    <b>VIDEOS</b>
  </h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <!-- <h5 class="card-title mb-4">Video 1</h5>
          <canvas id="lineChart" style="height:250px"></canvas> -->
          <a class="ecVideo" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0">
            YouTube video - hide controls and info
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 2</h5>
          <canvas id="barChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 3</h5>
          <canvas id="areaChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 4</h5>
          <canvas id="doughnutChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>