<div class="container">
  <div class="row">

    <div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

<div class="container-fluid">


  <br/>
  <div class="row">
    <div *ngFor="let video of videos | paginate: { itemsPerPage: 8, currentPage: p }" class="col-12 col-sm-3 mb-4 cursor-finger">
      <div class="card" data-toggle="modal" data-target="#detailModal" (click)="openDetail(video.description, video.link)">
        <label class="card-header bg-primary text-white hide-overflow-text cursor-finger">
          <b>{{video.title}}</b>
        </label>
        <div class="card-body">
          <img [src]="getYoutubeVidID(video.link)" width="100%" height="150px" />
        </div>
        <div class="card-footer">
          <p>Post date: {{video.postdate}}</p>
          <p>Post by: {{video.admin.username}}</p>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="container">
  <div class="row">

    <div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>





<div id="detailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h5>Description: </h5>
      </div>
      <div class="modal-body">
        <p>{{videoDescription}}</p>
      </div>
      <div class="modal-footer">

        <a data-fancybox [href]="videoLink" class="watch-button">
          <button type="button" class="btn btn-success ">Watch</button>
        </a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>