<div class="alert bg-primary" role="alert">
  <h3 class="text-light">
    <b>VIDEOS</b>
  </h3>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <!-- <h5 class="card-title mb-4">Video 1</h5>
          <canvas id="lineChart" style="height:250px"></canvas> -->
          <!-- <a data-fancybox href="https://www.youtube.com/watch?v=QdXdx9IaakA"> -->
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QdXdx9IaakA" allowfullscreen></iframe>
            </div>
            <br/>
            <h5>Noo Phuoc Thinh</h5>
            <!-- hihi
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <!-- <h5 class="card-title mb-4">Video 1</h5>
          <canvas id="lineChart" style="height:250px"></canvas> -->
          <!-- <a data-fancybox href="https://www.youtube.com/watch?v=QdXdx9IaakA"> -->
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QdXdx9IaakA" allowfullscreen></iframe>
            </div>
            <br/>
            <h5>Noo Phuoc Thinh</h5>
            <!-- hihi
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <!-- <h5 class="card-title mb-4">Video 1</h5>
          <canvas id="lineChart" style="height:250px"></canvas> -->
          <!-- <a data-fancybox href="https://www.youtube.com/watch?v=QdXdx9IaakA"> -->
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QdXdx9IaakA" allowfullscreen></iframe>
            </div>
            <br/>
            <h5>Noo Phuoc Thinh</h5>
            <!-- hihi
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <!-- <h5 class="card-title mb-4">Video 1</h5>
          <canvas id="lineChart" style="height:250px"></canvas> -->
          <!-- <a data-fancybox href="https://www.youtube.com/watch?v=QdXdx9IaakA"> -->
            <div class="embed-responsive embed-responsive-1by1">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QdXdx9IaakA" allowfullscreen></iframe>
            </div>
            <br/>
            <h5>Noo Phuoc Thinh</h5>
            <!-- hihi
          </a> -->
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 2</h5>
          <canvas id="barChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>


    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 3</h5>
          <canvas id="areaChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 col-3 mb-4">
      <div class="card">
        <div class="card-block">
          <h5 class="card-title mb-4">Video 4</h5>
          <canvas id="doughnutChart" style="height:250px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>